@-moz-document regexp("https://wiki\\.debian\\.org/.+\\?action=edit.+"), regexp("https://wiki\\.debian\\.org/.+#preview") {
/*
LICENSE: GPL-3+
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

/*
Tema escuro e reorganização visual para a edição do wiki do Debian

 - Navegador e extensão utilizados: Firefox + Stylus
 - Código validado por W3C CSS Validation Service
 - Zoom de página indicado de 150%
 - Licença: GPL-3+

*/

/* Componentes removidos

  - Caixa de marcação 'trivial' do topo
  - Ajuda de sintaxe
  - Rodapé
  - Botão de verificação ortográfica
  - logotipo Debian
*/
#editor-help, #footer, #chktrivialtop, #logo,
label[for="chktrivialtop"],
.button[name="button_spellcheck"] { display: none !important;	}

/* Cores de fundo, fonte e inserção de logotipo Debian Brasil */
body {
    background-color:#F5F5F5 !important;
    font-size: 14px !important;
    color: #0E0E10 !important;
    line-height: 1.4em !important;
	background-image: url("https://debianbrasil.org.br/debianbrasil.svg") !important;
	background-position: 95% 5px !important;
	background-repeat: no-repeat !important;
	background-size: 60px 60px !important;
}

/* Acerta fontes e cores para textos

  - Mensagem de período de tempo para edição
  - Área de edição
  - Área de comentários
*/
#message, #editor-textarea, #editor-comment, #locationline {
	color: inherit !important;
    background-color: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

/* Cores de links */
a:link    { color: #adc0d9 !important; }
a:visited { color: darkolivegreen !important; }
a:hover   { color: #808080 !important; }
a:active  { color: #ff0000 !important; }

/* Diminui o tamanho e reposiciona a mensagem de tempo de edição */
#message {
	width: 32% !important;
	position: relative !important;
	top: -45px !important;
}
.status { font-size: 60% !important; }

/* Reposiciona título h1 da página sendo editada */
#locationline {
	position: relative !important;
	left: 39% !important;
	top: 10px !important;
}

/* Sobe e redimensiona a área de edição */
#page {
	position: relative !important;
	top: -60px;
}
#editor-textarea {
	width:900px !important;
    height:400px !important;
    overflow:auto !important;
}

/* Botões reposicionados */
.button {
	position: relative !important;
	float: right !important;
	margin: 5px !important;
	z-index: 1000 !important;
}
.button[name="button_save"] {
	top: 430px !important;
	right: 135px !important; }
.button[name="button_cancel"],
.button[name="button_preview"] {
	top: 460px !important;
	right: 5px !important;
}

/* Cores dos botões */
.button[name="button_save"]:focus,
.button[name="button_save"]:hover {
	background-color: green !important;
	color: yellow !important;
}
.button[name="button_cancel"]:focus,
.button[name="button_cancel"]:hover {
	background-color: black !important;
	color: red !important;
}
.button[name="button_preview"]:hover,
.button[name="button_preview"]:focus {
	background-color: blue !important;
	color: white !important;
}

/* Rótulo e caixa de texto de comentário */
#editor-textarea + p {
	display: inline !important;
	position: relative !important;
	top: -10px !important;
}
#editor-comment { width: 50% !important; }

/* Empilha as duas caixas de marcação e reposiciona junto com categorias */
#chktrivial, label[for="chktrivial"] {
	position: relative !important;
	top: -6px !important;
}
#chkrstrip, label[for="chkrstrip"] {
	position: relative !important;
	left: -140px !important;
	top: 10px !important;
}
label[for="chkrstrip"] { font-size: 80% !important; }
fieldset > p {
	display: inline-block !important;
	position: relative !important;
	top: -24px !important;
}
}
