@-moz-document url-prefix("https://ddtp.debian.org/ddtss/index.cgi/pt_BR/translate/"), url-prefix("https://ddtp.debian.org/ddtss/index.cgi/pt_BR/forreview/"), url-prefix("https://ddtp.debian.org/ddtss/index.cgi/pt_BR") {
/*
(pt-BR) INTERFACE MÍNIMA PARA DDTSS/Debian
Userstyle com tema escuro e reorganização visual contendo o mínimo de elementos necessários;

 + Autor     : Thiago Pezzo (tico) pezzo@protonmail.com
 + Página web: https://wiki.debian.org/Brasil/Traduzir/
 + Licença	 : GPL3

 - Navegador: Firefox-esr + extensão Stylus;
 - Código validado por W3C's CSS Validation Service;
 - Zoom de página sugerido em 170%;

(en) MINIMAL INTERFACE FOR DDTSS/Debian
Userstyle with a dark theme and visual reorganization with minimal elements needed;

 + Author : Thiago Pezzo (tico) pezzo@protonmail.com
 + Website: https://wiki.debian.org/Brasil/Traduzir/
 + License: GPL3

 - Browser: Firefox-esr + Stylus plug-in;
 - Code validated by W3C's CSS Validation Service;
 - Page zoom suggested at 170%;
*/

/* (pt-BR) Fundo escuro, fontes e espaçamento entre linhas maiores, logotipo */
/* (en)    Dark background, larger fonts and line spacing, logo */
body {
    background-color:#282828 !important;
    font-size: 14px !important;
    color: #808080 !important;
    line-height: 1.5em !important;
	background-image: url("https://debianbrasil.org.br/debianbrasil.svg") !important;
	background-position: right top !important;
	background-repeat: no-repeat !important;
	background-size: 100px 100px !important;
}

/* (pt-BR) Cores de links */
/* (en)    Links' colors  */
a:link    { color: #adc0d9 !important; }
a:visited { color: darkolivegreen !important; }
a:hover   { color: #808080 !important; }
a:active  { color: #ff0000 !important; }

/* (pt-BR) PÁGINA CONTENDO AS LISTAS DE PACOTES */
/* (en)    PAGE CONTAINING PACKAGES' LISTS      */

/* (pt-BR) Caixa texto para recuperação de descrição 'fetch' */
/* (en)    Text box to fetch descriptions                    */
input[name="package"] {
	color: inherit !important;
    background-color: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

/* (pt-BR) Link de ajuda */
/* (en)    Help link     */
.help {
	background-color: #808080 !important;
	margin-right: 10px !important;
}

/* (pt-BR) PÁGINA DE TRADUÇÃO E REVISÃO */
/* (en)    TRANSLATION AND REVIEW PAGE  */

/* (pt-BR) Elementos retirados:
 - font               : alerta em vermelho no topo da página
 - h1 + ul            : dados sobre pacote, versões
 - h3, body > h3 + pre: título e texto bruto (raw form)
 - iframe			  : informações sobre traduções prévias

(en) Removed elements:
 - font               : red alert on page's top
 - h1 + ul            : data about package, versions
 - h3, body > h3 + pre: title and raw text (raw form)
 - iframe			  : information about previous translations
*/
font, h1 + ul, body > h3 + pre, h3, iframe { display: none !important; }

/* (pt-BR) Dicas ao passar o mouse por cima */
/* (en)    Hints when hovering mouse        */
.tooltip {
    cursor: help !important;
    TEXT-DECORATION: underline !important;
	color: darkgreen !important;
}

/* (pt-BR) Descrição curta: cores e fontes do tema escuro      */
/* (en)    Short description: colors and fonts from dark theme */
input[name="short"] {
    color: inherit !important;
    background-color: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

/* (pt-BR) Descrição longa: caixa maior, cores e fontes do tema escuro     */
/* (en)    Long description: bigger box, colors and fonts from dark theme  */
textarea[name="long"] {
    width:800px !important;
    height:400px !important;
    overflow:auto !important;
    color: inherit !important;
    background-color: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

/* (pt-BR) Comentários: cores e fontes do tema escuro */
/* (en)    Comments: colors and fonts from dark theme */
textarea[name="comment"] {
    color: inherit !important;
    background-color: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

/* (pt-BR) Botões na parte direita da tela         */
/* (en)    Buttons on the right part of the screen */
input[name="abandon"] {
	position: sticky !important;
	bottom: 60px !important;
	right: 170px !important;
	margin: 0 !important;
	float: right !important;
}
/* "Accept with changes" */
input[name="submit"] {
	position: sticky !important;
	bottom: 60px !important;
	left: 200px !important;
	margin: 0 !important;
	float: right !important;
}
/* "Change comment only" */
input[name="nothing"] {
	position: sticky !important;
	bottom: 60px !important;
	left: 300px !important;
	margin: 0 !important;
	float: right !important;
}
/* "Accept as is" */
input[name="accept"] {
	position: sticky !important;
	bottom: 60px !important;
	left: 400px !important;
	margin: 0 !important;
	float: right !important;
}

/* (pt-BR) Botões com destaque ao receber o foco ou passar o mouse */
/* (en)    Highlight buttons when focused or hovering with mouse   */
input[name="submit"]:focus,
input[name="submit"]:hover {
	background-color: green !important;
	color: yellow !important;
}
input[name="abandon"]:focus,
input[name="abandon"]:hover {
	background-color: black !important;
	color: red !important;
}
input[name="nothing"]:focus,
input[name="nothing"]:hover {
	background-color: black !important;
	color: red !important;
}
input[name="accept"]:focus,
input[name="accept"]:hover {
	background-color: blue !important;
	color: yellow !important;
}
}
